<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :Senha %><br />
    <%= f.password_field :password, html: { autocomplete: "off" } %>
  </div>

  <div class="field">
    <%= f.label :Confirmar_Senha %><br />
    <%= f.password_field :password_confirmation, html: { autocomplete: "off" } %>
  </div>

  <% if admin? %>
    <div class="field">
      <%= f.label :role_id, "Função" %><br />
      <%= f.select :role_id, options_for_select(@roles), { :include_blank => '-selecione-' } %>
    </div>
  <% end %>

  <div class="field client_id">
    <%= f.label :client_id, "Empresa" %><br />
    <%= f.select :client_id, options_for_select(@clients), { :include_blank => '-selecione-' } %>
  </div>

  <div class="actions">
    <br><%= f.submit %>
  </div>
<% end %>
