<table id='table'>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Função</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class=<%=cycle('even', 'odd')%>>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role.name %></td>
    <td><%= link_to image_tag('icon_show.png', :size => '20x20'), user %></td>
    <td><%= link_to image_tag('icon_edit.png', :size => '20x20'), edit_user_path(user), id: "user_#{user.id}" %></td>
    <td><%= link_to image_tag('icon_destroy.png', :size => '20x20'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to image_tag('icon_new.png', :size => '30x30'), new_user_path, title: "new_user" %>
