<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @user.mail %>
</p>
<p>
  <b>Password:</b>
  <%= @user.password %>
</p>
<p>
  <b>Role:</b>
  <%= @user.role.name %>
</p>


<%= link_to image_tag('icon_edit.png', :size => '30x30'), edit_user_path(@user) %> 
<%= link_to image_tag('icon_back.png', :size => '30x30'), users_path %>
