<p>
  <b>Nome:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Senha:</b>
  <%= @user.password %>
</p>
<p>
  <b>Função:</b>
  <%= @user.role.name %>
</p>


<%= link_to image_tag('icon_edit.png', :size => '30x30'), edit_user_path(@user) %> 
<%= link_to image_tag('icon_back.png', :size => '30x30'), users_path %>
