<% year = (params[:year] || Time.now.year).to_i %>
<% month = (params[:month] || Time.now.month).to_i %>

<% month_num = (params[:month] || Time.now.month).to_i %>

<% max_cols = 6 %>
<% days_in_month = Date.new(year, month, -1).mday %>
<% current_col = 0 %>
<% day_in_week = Date.new(year, month, 1).wday %>

<table class="calendar">
  <tr>
    <div class="bt_prev"><%= link_to image_tag('icon_back.png', :size => '30x30', :title => 'Anterior'),events_path(month: previous_month(month), year: previous_year(month_num, year)) %></div>
    <div class="tit_calendar"><%= month_name(month) %> <%= year %></div>

    <div class="bt_next"><%= link_to image_tag('icon_next.png', :size => '30x30', :title => 'Próximo'), events_path(month: next_month(month), year: next_year(month, year)) %></div>
  </tr>

  <tr class="week">
    <td class="tit_day">Domingo</td>
    <td class="tit_day">Segunda</td>
    <td class="tit_day">Terça</td>
    <td class="tit_day">Quarta</td>
    <td class="tit_day">Quinta</td>
    <td class="tit_day">Sexta</td>
    <td class="tit_day">Sábado</td>
  </tr>

  <tr>
    <% i = 0 %>
    <% tmp = 0 %>
    <% day = 0 %>

    <% while true %>

      <% if current_col > max_cols %>
        </tr><tr>
        <% current_col = 0 %>
      <% end %>

      <% if i == 0 && current_col == day_in_week %>
        <% i = 1 %>
      <% end %>

      <% if i <= days_in_month %>
        <% # HERE IS THE ACTUAL DAY %>
        <td class="day day_<%= i %>" valign="top">

          <% if i > 0 %>
            <%= i %>
            <br />

            <% todays_events(@events, i, month, year).each do |event| %>
              <div class="event_title">
                <%= link_to event.user.name, event %>
              </div>
            <% end %>
          <% end %>

        </td>
      <% else %>
        <% colspan = 7 - current_col %>
        <td colspan="<%= colspan %>"></td>
      <% end %>

      <% current_col += 1 %>
      <% tmp += 1 %>

      <% if tmp > 40 || i > days_in_month %>
        <% break %>
      <% end %>

      <% i += 1 if i > 0 %>

    <% end %>

  </tr>
</table>
