<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<% if @event.ticket.present? %>
  <p>
    <strong>Relacionado ao ticket</strong>
    <%= link_to @event.ticket.title, edit_ticket_path(@event.ticket) %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Data:</strong>
  <%= @event.start_datetime %>
</p>
<p>
  <strong>Client:</strong>
  <%= @event.client.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.name %>
</p>

<%= link_to image_tag('icon_edit.png', :size => '30x30', :title => 'Editar'), edit_event_path(@event) %> &nbsp;
<%= link_to image_tag('icon_back.png', :size => '30x30', :title => 'Voltar'), events_path %> &nbsp;
<%= link_to image_tag('icon_destroy.png', :size => '30x30', :title => 'Deletar'), event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %>
