<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Começa em:</strong>
  <%= @event.start_datetime %>
</p>
<p>
  <strong>Client:</strong>
  <%= @event.client.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user.name %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
