<%= form_for(@ticket) do |f| %>

  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :client_id, "Cliente" %><br>
    <%= f.select :client_id, options_for_select(@clients, @ticket.client_id) %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :user_id, "Colaborador" %><br>
      <%= f.select :user_id, options_for_select(@users, @ticket.user_id) %>
    </div>
  <% end %>  

  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([["Pendente", "pending"], ["Em andamento", "processing"], ["Resolvido", "solved"]]) %>
  </div>

  <br>

  <div class="messages">
    <% @ticket.messages.each do |message| %>
      <% next unless message.persisted? %>

      <% bg = cycle('even', 'odd')%>

      <div class="campo_message <%= bg %>">
        <div class="nm_user">
          <%= message.user.name %> <br />
        </div>
        <div class="message">
          <%= message.text %><br />
        </div>
        <div class="dt_mensagem">
          <%= message.created_at.strftime(" Enviada dia %d/%m/%Y às %I:%M %p") if message.created_at.present? %>
        </div>
      </div>
    <% end %>

    <br />
    <br />
    <%= f.label :text, "Mensagem" %> <br>
    <%= f.fields_for :messages do |m| %>
      <% next if m.object.persisted? %>
      <div class="desc_message">
        <%= m.text_area :text, id: "message_field", :size => '50x5' %>
      </div>
    <% end %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
