<%= form_for(@ticket) do |f| %>

  <div class="field">
    <%= f.label :title, "Título" %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :client_id, "Cliente" %><br>
    <%= f.select :client_id, options_for_select(@clients, @ticket.client_id) %>
  </div>

  <% if current_user.admin? %>
    <div class="field">
      <%= f.label :user_id, "Colaborador" %><br>
      <%= f.select :user_id, options_for_select(@users, @ticket.user_id) %>
    </div>
  <% end %>  



  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, options_for_select([["Pendente", "pending"], ["Em andamento", "processing"], ["Resolvido", "solved"]]) %>
  </div>

  <br>

  <div class="messages">
    <% @ticket.messages.each do |message| %>
      <div class="message">
        <%= message.text %>
      </div>
    <% end %>

    <br />
    <br />
    <%= f.label :text, "Message" %> <br>
    <%= f.fields_for :messages do |m| %>
      <% next if m.object.persisted? %>
      <%= m.text_area :text, id: "message_field" %>
    <% end %>
  </div>

  <br>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
