<table class="tab_ticket">
  <tr>
    <th>Título</th>
    <th>Cliente</th>
    <th>Colaborador</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr class=<%=cycle('even', 'odd')%>>
    <td class="title_ticket"><%= ticket.title %></td>
    <td class="client_ticket"><%= ticket.client.name %></td>
    <td class="colaborator_ticket">
    <% if ticket.user.present? %>
      <%= ticket.user.name %>
    <% end %>
    </td>
    <td  class="status_ticket"><%= t("status.#{ticket.status}") %></td>
    <td class="image"><%= link_to image_tag('icon_show.png', :size => '20x20'), edit_ticket_path(ticket), id: "edit_ticket" %></td>
    <% if admin? %>
      <td class="image"><%= link_to image_tag('icon_destroy.png', :size => '20x20'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= paginate @tickets %>
<%= link_to image_tag('icon_new.png', :size => '30x30'), new_ticket_path, id: "new_ticket" %>
