<table id="table">
  <tr>
    <th>Client</th>
    <th>Title</th>
    <th>Situation</th>
    <th>User</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @tickets.each do |ticket| %>
    <% bg=cycle('even','odd')%>
    <tr class=<%=bg%>>
      <td><%= ticket.client.name %></td>
      <td><%= ticket.title %></td>
      <td><%= ticket.situation %></td>
      <td><%= ticket.user.name %></td>
      <td><%= ticket.created_at.strftime('%d/%m/%y') %></td>
      <td><%= link_to image_tag('icon_show.png', :size => '20x20'), ticket %></td>
      <td><%= link_to image_tag('icon_edit.png', :size => '20x20'), edit_ticket_path(ticket) %></td>
      <td><%= link_to image_tag('icon_destroy.png', :size => '20x20'), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to image_tag('icon_new.png', :size => '30x30'), new_ticket_path %>
