<%= form_for(@service_order) do |f| %>
  <% if @service_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_order.errors.count, "error") %> prohibited this service_order from being saved:</h2>

      <ul>
      <% @service_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if admin? %>
    <div class="field">
      <%= f.label :user_id, "Usuário" %><br />
      <%= f.select :user_id, options_for_select(@users, @service_order.user_id) %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :user_id, "Usuário" %><br />
      <%= @service_order.user.name %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id, "Cliente" %><br />
    <%= f.select :client_id, options_for_select(@clients, @service_order.client_id) %>
  </div>
  <div class="field">
    <%= f.label :module, "Módulo" %><br />
    <%= f.text_field :module %>
  </div>
  <div class="field">
    <%= f.label :project, "Projeto" %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
    <%= f.label :date, "Data" %><br />
    <%= f.text_field :date, id: "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :reason, "Razão" %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :requestor, "Solicitante" %><br />
    <%= f.text_field :requestor %>
  </div>

  <div class="field">
    <%= f.label :start_time, "Hora Inicio" %><br />
    <%= f.text_field :start_time, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :end_time, "Hora Fim" %><br />
    <%= f.text_field :end_time, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :non_billable_hours, "Tempo não faturável" %><br />
    <%= f.text_field :non_billable_hours, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :other_billable_hours, "Outro tempo faturável" %><br />
    <%= f.text_field :other_billable_hours, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :total_time, "Tempo total" %> <br/>
    <%= f.text_field :total_time, :class => 'js_total_os' %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br />
    <%= f.text_area :description, :size => '50x5' %>
  </div>
  <div class="field">
    <%= f.label :comment, "Comentário" %><br />
    <%= f.text_area :comment, :size => '50x5' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <!--<%= @service_order.inspect %> <br><br>
  <%= @service_order.client_id.class %> <br><br>
  <%= @clients.inspect %> -->
<% end %>
