  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
  
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

<%= form_for(@service_order) do |f| %>
  <% if @service_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_order.errors.count, "error") %> prohibited this service_order from being saved:</h2>

      <ul>
      <% @service_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id, "User" %><br />
    <%= f.select :user_id, options_for_select(@users, @service_order.user_id) %>
  </div>
  <div class="field">
    <%= f.label :client_id, "Cliente" %><br />
    <%= f.select :client_id, options_for_select(@clients, @service_order.client_id) %>
  </div>
  <div class="field">
    <%= f.label :module %><br />
    <%= f.text_field :module %>
  </div>
  <div class="field">
    <%= f.label :project %><br />
    <%= f.text_field :project %>
  </div>
  <div class="field">
  <%= f.label :date %><br />
  <%= f.text_field :date, id: "datepicker" %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="field">
    <%= f.label :requestor %><br />
    <%= f.text_field :requestor %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :non_billable_time %><br />
    <%= f.text_field :non_billable_hours, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :other_billable_time %><br />
    <%= f.text_field :other_billable_hours, :class => 'js_time' %>
  </div>
  <div class="field">
    <%= f.label :total_time %> <br/>
    <%= f.text_field :total_time, :class => 'js_total_os' %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <!--<%= @service_order.inspect %> <br><br>
  <%= @service_order.client_id.class %> <br><br>
  <%= @clients.inspect %> -->
<% end %>
