<table>
  <tr>
    <th>Usuário</th>
    <th>Cliente</th>
    <th>Módulo</th>
    <th>Projeto</th>
    <th>Data</th>
    <th>Solicitante</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_orders.each do |service_order| %>

  <% bg=cycle('even', 'odd')%>

  <tr class=<%=bg%>>
    <td class="name"><%= service_order.user.name %></td>
    <td class="client"><%= service_order.client.name %></td> 
    <td class="module"><%= service_order.module %></td>
    <td class="project"><%= service_order.project %></td>
    <td class="date"><%= date(service_order.date) %></td>
    <td class="requestor"><%= service_order.requestor %></td>
    <td class="total_os"><%= service_order.total_time %></td>
    <td class="image"><%= link_to image_tag('icon_show.png', :size => '20x20', :title => 'Mostrar'), service_order_path(service_order) %></td>
    <% if admin? || colaborator? %>
      <td class="image"><%= link_to image_tag('icon_edit.png', :size => '20x20', :title => 'Editar'), edit_service_order_path(service_order) %></td>
    <% end %>
    <% if admin? %>
      <td class="image"><%= link_to image_tag('icon_destroy.png', :size => '20x20', :title => 'Deletar'), service_order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <td class="image"><%= link_to image_tag('icon_print.png', :size => '20x20', :title => 'Imprimir'), print_view_path(service_order),:target => "_blank" %></td>
  </tr>
<% end %>
</table>

<br />
<%= paginate @service_orders %>
<%= link_to image_tag('icon_new.png', :size => '30x30', :title => 'Adicionar'), new_service_order_path %>
