<!DOCTYPE html>
<html>
  <head>
    <title>SOS Print Preview Page</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <table class="table-print">
      <tr>
        <td> <%= image_tag('company_logo.jpg')%> </td>
        <td class="td"><b>Service Order: <%= @service_order.id %> </b></td>
      </tr>
    </table>

    <table class="table-print">
      <td></td>
    </table>

    <table class="table-print">
      <table class="table-print">
        <td class="td-id">Cliente:</td>
        <td class="td-data"><%= @service_order.client.name %></td>
      </table>
      <table class="table-print">
        <tr>
          <td class="td-id">Modulo:</td>
          <td class="td-data"><%= @service_order.module %></td>
          <td class="td-id">Motivo:</td>
          <td class="td-data"><%= @service_order.reason %></td>
        </tr>
        <tr>
          <td class="td-id">Projeto:</td>
          <td class="td-data"><%= @service_order.project %></td>
          <td class="td-id">Solicitante:</td>
          <td class="td-data"><%= @service_order.requestor %></td>
        </tr>
      </table>
    </table>

    <table class="table-print">
      <td></td>
    </table>

    <table class="table-print">
      <tr>
        <td class="td-id">Data:</td>
        <td class="td-data"><%= date(@service_order.date) %></td>
        <td class="td-id">Inicio:</td>
        <td class="td-data"><%= @service_order.start_time %></td>
        <td class="td-id">Outros (+):</td>
        <td class="td-data"><%= @service_order.other_billable_hours %></td>
      </tr>
      <tr>
        <td class="td-id">Analista:</td>
        <td class="td-data"><%= @service_order.user.name %></td>
        <td class="td-id">Fim:</td>
        <td class="td-data"><%= @service_order.end_time %></td>
        <td class="td-id">Outros (-):</td>
        <td class="td-data"><%= @service_order.non_billable_hours %></td>
      </tr>
      <table class="table-print">
        <td class="td-id">Total:</td>
        <td class="td-data"><%= @service_order.total_time %> </td>
      </table>
    </table>

    <table class="table-print">
      <tr><td></td></tr>
    </table>

    <table class="table-print">
      <tr>
        <td class="td-data">Atividades:</td>
      </tr>
      <tr>
        <td class="td-data"><%= raw@service_order.description.gsub(/\n/, "<br>") %>
        <br>
        <br>
      </td>
    </tr>  
  </table>

  <table class="table-print">
    <tr><td></td></tr>
  </table>

  <table class="table-print">
    <tr>
      <td class="td-data">Observa&ccedil;&otilde;es:</td>
    </tr>
    <tr>
      <td class="td-data">
        <%= raw@service_order.comment.gsub(/\n/, "<br>") %>
        <br>
        <br>
      </td>
    </tr>  
  </table>
  <br>  

  <table class="table-print">
    <tr>
      <td class="td-data">
        N&atilde;o h&aacute; restri&ccedil;&otilde;es e/ou observa&ccedil;&otilde;es sobre dados contidos nesta Ordem de Servi&ccedil;o. Alertamos que caso o 
        cliente n&atilde;o 
        se pronuncie, concordando ou n&atilde;o com o exposto, no prazo de 48 horas da data da emiss&atilde;o desta, seja via telefone, fax ou e-mail, perder&aacute; o direito de reclama&ccedil;&atilde;o.
      </td>
    </tr>
  </table>
  <br>

  <table class="table-print">
    <td></td>
  </table>

  <br>
  <br>

  <table class="table-print">
    <td class="td"><%= @service_order.requestor %> - <%= @service_order.client.name %></td>
  </table>

  <br>
  <%= link_to image_tag('icon_edit.png', :size => '30x30'), edit_service_order_path(@service_order) %> 
  <%= link_to image_tag('icon_back.png', :size => '30x30'), service_orders_path %>
  <%= link_to image_tag('icon_new.png', :size => '30x30'), new_service_order_path %>
  <br>
  <br>
  <br>
</body>
</html>
