<!DOCTYPE html>
<html>
<head>
  <title>Service Order</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">

<div class='main'>	
	<div class='header'>
		<h1>Service Order</h1>
		<p class='slogan'>You ask, we deliver it </P>	
	</div>
	<div class='body'>
		<div class='menu'>
			
			<h2 class='hide'>Menu:</h2>
			<ul>
				<li><%= link_to 'Service Orders', service_orders_path, class: current("service_orders") %> </li>
				<li><%= link_to 'Clients', clients_path,class: current("clients")  %> </li>
				<li><%= link_to 'Tickets', tickets_path,class: current("tickets")  %> </li>
				<li><%= link_to 'Users', users_path,class: current("users")  %> </li>
				<li><%= link_to 'Roles', roles_path,class: current("roles")  %> </li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %> </li>
			</ul>
		</div>
		<div class='table'>
			<%= yield %>
		</div>
	</div>
</div>	
</body>
</html>

<!--<%= params.inspect %> 
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>--> 
